<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<!--mybatis的核心配置-->
<configuration>

    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/> <!--Mybatis默认使用JDBC作为事务管理器，提交和回滚事务-->
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://localhost:3306/mydatabase2?useSSL=false&amp;serverTimezone=GMT%2B8"/>
                <property name="username" value="root"/>
                <property name="password" value="haolun"/>
            </dataSource>
        </environment>
    </environments>

    <!-- 每一个Mapper.xml, 都需要在mybatis配置文件中注册 -->
    <mappers>
        <mapper resource="mapper/UserMapper.xml"/>
    </mappers>

</configuration>